.app {
  position: relative;
}
.btn__instructions{
  position: fixed;
  top: 1em;
  left: 2em;
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  width: 3em;
  aspect-ratio: 1;
  padding: 0.5em 0em;
  border-radius: 50%;
  background-color: var(--purple-light);
  color: var(--bg-body);
  &:hover {
    filter: brightness(1.1);
  }
}
.config {
  position: fixed;
  display: grid;
  place-content: center;
  top: 0.7em;
  right: 1.2em;
  font-size: 2.2em;
  width: 1.8em;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--purple-light);
  color: var(--bg-body);
  z-index: 1;
  transition: transform 1000ms ease;
  &:hover {
    transform: rotate(-0.75turn);
    filter: brightness(1.1);
  }
}
.title {
  text-align: center;
  padding: 1em 0 0.5em;
  color: var(--font-color);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.notification {
  width: 15em;
  background-color: var(--keyboard-color);
  color: var(--keyboard-font-color);
  text-align: center;
  padding: 0.7em 0;
  border-radius: 0.8em;
  font-weight: 300;
  position: absolute;
  top: 1.6em;
  left: 50%;
  transform: translateX(-50%);
  transition: top 200ms ease;
}
.hidden {
  top: -3em;
}
.hiddenModal {
  transform: scale(0);
}
@media screen and (max-width: 720px) {
  .title {
    font-size: 1.8em;
  }
}